<div class="main-wrapper">
  <div class="wrapper-skinny">
  <%= link_to "Go back to cocktails page", cocktails_path, class:'button-back' %>

  <h1><%= @cocktail.name %></h1>

    <div class="wrapper-cocktail">
      <p>To make this cocktail, you need:</p>
      <% @cocktail.doses.each do |dose| %>
        Dose: <%= dose.description %> |
        Ingredient: <%= dose.ingredient.name %>
        <%= link_to "Delete this dose", dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>

    <hr>

    <div class="wrapper-dose">
      <h3>Add doses to: <%= @cocktail.name %></h3>
      <%= simple_form_for([@cocktail, @dose]) do |f|%>
        <%= f.input :ingredient_id, collection: Ingredient.all %>
        <%= f.input :description %>
        <%= f.submit "Add a dose", class:'button-main' %>
      <% end %>
    </div>

  </div>
</div>
