<div class="main-wrapper">
  <div class="wrapper-skinny">
    <%= form_for(@ingredient) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>

  </div>
</div>

<%= link_to "Go back to ingredients page", cocktails_path, class:'button-main' %>
